appdirs==1.4.3
Django==1.11
django-extensions==1.7.8
djangorestframework==3.6.2
numpy==1.12.1
packaging==16.8
pandas==0.19.2
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
six==1.10.0
